
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(221, 71, 12);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 20px;
}

article {
  padding: 20px;
  background-color: #edf1ed;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

article h2 {
  color: #333;
}

article p {
  margin-bottom: 15px;
}

article img {
  float: right;
  margin: 0 0 10px 10px;
  border-radius: 50%;
  border: 3px solid #f06e04;
}

article table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

article th {
  background-color: #e63c08;
  color: white;
  padding: 10px;
  text-align: left;
}

article td {
  border: 1px solid #eb4604;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
